

<div class="card  border-0">
    <div class="card-body">
         <div class="col-12 col-md-6 d-none d-md-block mx-5 mt-5">
<div class="card  border-0 align-items-center" style="width:170%;">
    <div class="card-body">
           <div class="card-text">
                    <ng-lottie 
                    [options]="options" 
                    width="250px" 
                    height="250px" 
                    (animationCreated)="animationCreated($event)" />
          </div> 
    </div>
</div>
</div>
    </div>
</div> 