
.grid-item {
    padding: 10px;
    border: 1px solid rgb(207, 202, 202);
    cursor: pointer;
    margin-bottom: 10px;
    position: relative;
    background-color: white; 
  
    .content-header {
      display: flex;
      align-items: center;
      
    
      .bi-chevron-right {
        font-size: 20px;
        transition: transform 0.3s ease;
        color: #1289eb;
        margin-left: auto;
      }
  
      .checkbox {
        width: 20px;
        height: 20px;
        border: 2px solid #d4caca;
        border-radius: 50%;
        margin-right: 10px;
        background-color: #fff;
        flex-shrink: 0;
  
        &.active {
          background-color: #05fa05;
        }
      }
  
      .img-fluid {
        width: 50px; 
  
        &.moov-money-image {
          width: 30px; 
          margin: 0 0 0 5px;
        }
      }
  
      span {
        display: flex;
        align-items: center;
        transition: transform 0.5s ease, opacity 0.5s ease;

      }
    }
  
    .grid-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s ease, opacity 0.5s ease;
  
      &.open {
        opacity: 1;
        max-height: 150px;
      }
  
      &.closed {
        opacity: 0;
        max-height: 0;
      }
  
      .input-container {
        label {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
          font-weight: bold;
        }
  
        .text-danger {
          margin-left: 5px;
        }
  
        input {
          width: 100%;
          padding: 12px;
          border: 1px solid #ccc;
          border-radius: 0;
          font-size: 16px;
        }
      }
    }
  }
  
  @media (max-width: 768px) {
    .grid-item {
      display: block;
      width: 100%;
    }
  }
    






















