.banner-promo-section{
    background-color: #EFFAFF;
}
.promo-section-title{
    padding-top: 30px;
    font-family: 'Proxima Nova Extra Condensed';
    text-transform: uppercase;
    font-weight: bold;
    font-size:30px;
}
.promo-section-body{
    font-family: 'Proxima Nova Extra Condensed';
}
