<div class="card-body mt-3 carde-securite">
    <div class="row">
        <div class="col-12" style="width:150%;">
            <div class="p-3 border-0 bg-light">
                <div class="row">
                    <div class="col-12 col-md-8 md-5 ms-3 ">
                        <span class="card-title fw-bold fs-20">
                            <svg id="credit-card" xmlns="http://www.w3.org/2000/svg" width="19.196" height="23.994"
                                viewBox="0 0 19.196 23.994">
                                <g id="Groupe_1927" data-name="Groupe 1927" transform="translate(0 0)">
                                    <g id="Groupe_1926" data-name="Groupe 1926">
                                        <path id="Tracé_44" data-name="Tracé 44"
                                            d="M274.469,35.7l-8.4-3.6a1.2,1.2,0,0,0-.948,0l-8.4,3.6a1.2,1.2,0,0,0-.725,1.1v4.8c0,6.6,2.44,10.459,9,14.239a1.206,1.206,0,0,0,1.195,0c6.56-3.77,9-7.628,9-14.239v-4.8A1.2,1.2,0,0,0,274.469,35.7Zm-4.334,5.452-4.8,6a1.213,1.213,0,0,1-.938.449h-.05a1.2,1.2,0,0,1-.948-.533l-2.4-3.6a1.2,1.2,0,1,1,2-1.329l1.49,2.234,3.772-4.717a1.2,1.2,0,0,1,1.876,1.5Z"
                                            transform="translate(-256 -32.008)" />
                                    </g>
                                </g>
                            </svg>
                            PAIEMENT À 100% SÉCURISÉ.
                        </span>
                        <p class="fs-16">Votre sécurité est notre priorité. <br>Nous ne vous demanderons jamais votre
                            mot de passe,
                            votre code PIN, votre CVV ou les détails complets de votre carte par téléphone ou par
                            e-mail.</p>
                    </div>
                    <div class="col-2 col-md-2 ms-md-5 align-content-center">
                        <img src="./assets/images/pci-dss-compliant-logo.png" style="width: 179px;height:65px;"
                            alt="Certificat de sécurité">

                    </div>

                    <div class="col-2 col-md-1 align-content-center">
                        <app-lotties [imagePath]="imagePath" [width]="width" [height]="height " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>