<div class="container-fluid mt-5 overflow-hidden" style="width: 80%;">
    <!-- Bouton de retour -->
    <app-backbutton/>

    <div class="row mt-3">
        <!-- Colonne pour l'image -->
        <div class="col-12 col-md-6 d-md-block">
          <app-lottie-bag/>
        </div>

        <!-- Colonne pour le texte -->
        <div class="col-12 col-md-5 mt-3 mt-md-0">
            <div class="card border-0">
                <div class="card-body">
                    <h3 class="card-title fw-bold position-relative">DISTRIBUTION GROUPÉE</h3>
                    <div class="card  mb-3" style="background: #FCFFF5 0% 0% no-repeat padding-box;">
                        <div class="card-body">
                            <div class="card-text">
                                <p class="mb-0">SÉCURITÉ !</p>
                            </div>
                            <button type="button" class="btn-close btn-closes" aria-label="Close"></button>
                            <div class="card-text">
                                <p class="mb-0">Nous accordons une grande importance à la sécurité de vos données
                                    personnelles. Toutes les informations que vous nous fournissez sont strictement
                                    confidentielles et sécurisées.</p>
                            </div>
                        </div>
                    </div>


                <div class="row mt-3">
                    <div class="col-6">
                        <div class="" style="max-width: 350px;">
                            <label class="">Montant des bons d’achat <span style="color:#FD5446;">*</span></label>
                            <div class="input-group mt-2">
                                <div class="input-group-prepend">
                                    <select class=" border-0  bg-transparent h-100">
                                        <option>FCFA</option>
                                        <option>ES</option>
                                        <option>MR</option>
                                    </select>
                                </div>
                                <input type="number" class="form-control" placeholder="Saisissez le nombre des bons d’achat">
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="" style="max-width: 350px;">
                            <label class="">Nombre des bons d’achat<span style="color:#FD5446;">*</span></label>
                            <div class="input-group mt-2">
                                <input type="number" class="form-control" placeholder="Saisissez le nombre des bons d’achat">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="" style="max-width: 350px;">
                        <label class="">Montant des bons d’achat <span style="color:#FD5446;">*</span></label>
                        <div class="input-group mt-2">

                            <div class="input-group-prepend">
                                <select class=" border-0  bg-transparent h-100">
                                    <option>FCFA</option>
                                    <option>ES</option>
                                    <option>MR</option>
                                </select>
                            </div>
                            <input type="number" class="form-control" placeholder="Montant des bons d’achat">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="" style="max-width: 350px;">
                        <label class="">Nombre des bons d’achat<span style="color:#FD5446;">*</span></label>
                        <div class="input-group mt-2">
                            <input type="number" class="form-control" placeholder="Saisissez le nombre des bons d’achat">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-6">
                    <div class="d-flex">
                        <button type="button" class="btn btn-outline-danger btn-square me-2"
                            style="border-radius: 0%;">ANNULER</button>
                        <button type="submit" class="btn btn-outline-primary btn-square ms-2"
                            style="border-radius: 0%">SUIVANT</button>
                    </div>
                </div>
                <div class="col-6">
                    <ul class="list-unstyled mt-3 ms-5 me-5">
                        <li><a href="#" class="disabled">Distribution individuelle</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>