<div class="modal d-flex justify-content-center align-items-center" style="min-height: 100vh;">
  <div class=" card text-center" style="width: 25rem; height: 18rem;">
    <div class="card-body d-flex flex-column justify-content-between align-items-center">
      <div class="col-10">
         
      </div>
          <button type="button" class="border-0 align-self-end  " disabled aria-label="Close">
              <svg id="Layer_2" data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" width="24.028" height="24.028" viewBox="0 0 24.028 24.028">
                  <g id="Layer_2-2" data-name="Layer 2" opacity="0.75">
                      <path id="Tracé_91771" data-name="Tracé 91771" d="M13.014,1A12.014,12.014,0,1,0,25.028,13.014,12.014,12.014,0,0,0,13.014,1Zm4.633,15.1A1.092,1.092,0,1,1,16.1,17.648l-3.089-3.09-3.089,3.09A1.092,1.092,0,1,1,8.381,16.1l3.089-3.09L8.381,9.924A1.092,1.092,0,1,1,9.925,8.38l3.089,3.09L16.1,8.38a1.092,1.092,0,1,1,1.544,1.544l-3.089,3.09Z" transform="translate(-1 -1)" fill="#fdcece"/>
                  </g>
              </svg>
          </button> 
          <div class="card-text mt-0" style="font: normal normal 600 20px/60px 'Proxima Nova'; letter-spacing: 0px; color: #1F1F1F; text-transform: uppercase; opacity: 1;">
         <span class="fw-bold " style="font-size: small;"> choisissez votre canal de distribution</span>
        </div>
      <div class="content ">
        <div class="rounded-social-buttons">
          <a 
          class="social-button whatsapp me-4" href="" target="_blank">
          <img src="../../../../../assets/images/whatsapp.png" class="img-fluid" style="width: 16%; height: 16%;">
          </a>
          <a
           class="social-button facebook me-4" href="" target="_blank" >
           <img src="../../../../../assets/images/facebook.png" class="img-fluid" style="width: 16%; height: 16%;">
          </a>
          <a 
          class="social-button telegram me-4" href="" target="_blank">
          <img src="../../../../../assets/images/telegramm.png" class="img-fluid" style="width: 16%; height: 16%;">
          </a>
          <a
           class="social-button linkedin me-4" href="" target="_blank">
           <img src="../../../../../assets/images/linkeding.png" class="img-fluid " style="width: 16%; height: 16%;">
          </a>
       
      </div>
      
      <div class="rounded-social-buttons pt-3">
          <a 
          class="social-button instagram me-4" href="https://www.instagram.com/" target="_blank">
          <img src="../../../../../assets/images/instagram.png" class="img-fluid" style="width: 16%; height: 16%;">
      </a>
          <a
           class="social-button twitter me-4" href="" target="_blank">
           <img src="../../../../../assets/images/twitter.png" class="img-fluid" style="width: 16%; height: 16%;">
          </a>
          <a 
          class="social-button skype me-4" href="" target="_blank">
          <img src="../../../../../assets/images/skype.png" class="img-fluid" style="width: 16%; height: 16%;">
      </a>
          <a
           class="social-button tiktok me-4" href="" target="_blank">
           <img src="../../../../../assets/images/tiktoks.png" class="img-fluid" style="width: 16%; height: 16%;">
          </a>
        
      </div>
        </div>
  </div>
  

  </div>
</div>