<app-backbutton/>
<div class="card border-0">
    <div class="card-body">
      <div class="col-12 d-none d-md-block">
        <div class="card-text">
          <ng-lottie 
              [options]="options" 
              width="50px" 
              height="50px" 
              (animationCreated)="animationCreated($event)" />
  </div>

        <div class="container-fluid bg-light p-2 mb-2">
            <div class="row justify-content-center">

                <div class="col-lg-2 col-md-5 mb-3">


                    <div class="card custom-card border-info">
                        <div class="card-body">
                          <div class="row">
                            <div class="col-md-2">
                              <img src="../assets/images/groupe.png" alt="groupe" class="custom-img">
                              </div>
                          <div class="col-md-10">
                            <p class="card-title">Nombre de bénéficiaires</p>
                            <p class="card-text fw-bold ">135 PRS</p>
                          </div>
                        </div>
                        </div>
                    </div>
                </div>
           <div class="col-lg-2 col-md-5 mb-3">
                  <div class="card custom-card border-info">
                      <div class="card-body ">
                        <div class="row">
                          <div class="col-md-2">
                            <img src="../assets/images/Groupe16133.png" alt="groupe" class="custom-img">
                          </div>
                        <div class="col-md-10">
                          <p class="card-title">Nombre de bon à distribuer</p>
                          <p class="card-text fw-bold ">153 BONS</p>
                        </div>
                        </div>

                  
                       
                      </div>
                  </div>
              </div>
             
              <div class="col-lg-2 col-md-5 mb-3 ">
                <div class="card custom-card border-info">
                    <div class="card-body ">
                      <div class="row">
                        <div class="col-md-2">
                          <img src="../assets/images/Groupe17133.png" alt="groupe" class="custom-img">
                          </div>
                       <div class="col-md-10">
                        <p class="card-title">Montant total des bons</p>
                        <p class="card-text fw-bold ">1 120 000 FCFA</p>
                      </div>
                      </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-5 mb-3">
              <div class="card custom-card border-info">
                  <div class="card-body ">
                    <div class="row">
                      <div class="col-md-2">
                        <img src="../assets/images/Groupe33.png" alt="groupe" class="custom-img">
                      </div>
                    <div class="col-md-10">
                      <p class="card-title">Montant de la totalité des bons</p>
                      <p class="card-text fw-bold ">04 CATÉGORIES</p>
                    </div>
                    </div>
              
                  </div>
              </div>
          </div>

          <div class="col-lg-3 col-md-5 mb-3 ">
            <div class="card custom-card border-info">
                <div class="card-body ">
                  <div class="row">
                    <div class="col-md-2">
                      <img src="../assets/images/Groupe62.png" alt="groupe" class="custom-img">
                    </div>
                  <div class="col-md-10 ">
                    <p class="card-title">Nombre de canal de distribution</p>
                    <p class="card-text fw-bold ">02 CANAUX</p>
                  </div>
                  </div>

                </div>
            </div>
        </div>
            
        </div>
        
  </div>
                      
 
 
  
    <!-- <div class="row">
      <div class="col-12">
        <svg xmlns="http://www.w3.org/2000/svg" width="15.709" height="15.657" viewBox="0 0 26.709 22.657">
          <g id="group" transform="translate(0 -38.84)" opacity="0.5">
            <g id="Groupe_7755" data-name="Groupe 7755" transform="translate(20.788 51.072)">
              <g id="Groupe_7754" data-name="Groupe 7754">
                <path id="Tracé_37408" data-name="Tracé 37408"
                      d="M400.56,273.32h-2.066a5.373,5.373,0,0,1,.326,1.847v7.807a2.3,2.3,0,0,1-.133.771H402.1a2.316,2.316,0,0,0,2.313-2.313v-4.256A3.86,3.86,0,0,0,400.56,273.32Z"
                      transform="translate(-398.494 -273.32)" fill="#3f3f3f"/>
              </g>
            </g>
            <g id="Groupe_7757" data-name="Groupe 7757" transform="translate(0 51.072)">
              <g id="Groupe_7756" data-name="Groupe 7756">
                <path id="Tracé_37409" data-name="Tracé 37409"
                      d="M5.6,275.168a5.373,5.373,0,0,1,.326-1.847H3.856A3.86,3.86,0,0,0,0,277.177v4.256a2.316,2.316,0,0,0,2.313,2.313H5.728a2.3,2.3,0,0,1-.133-.771Z"
                      transform="translate(0 -273.321)" fill="#3f3f3f"/>
              </g>
            </g>
            <g id="Groupe_7759" data-name="Groupe 7759" transform="translate(7.138 49.063)">
              <g id="Groupe_7758" data-name="Groupe 7758" transform="translate(0 0)">
                <path id="Tracé_37410" data-name="Tracé 37410"
                      d="M145.407,234.815h-4.722a3.86,3.86,0,0,0-3.856,3.856v7.807a.771.771,0,0,0,.771.771h10.891a.771.771,0,0,0,.771-.771v-7.807A3.86,3.86,0,0,0,145.407,234.815Z"
                      transform="translate(-136.829 -234.815)" fill="#3f3f3f"/>
              </g>
            </g>
            <g id="Groupe_7761" data-name="Groupe 7761" transform="translate(8.718 38.84)">
              <g id="Groupe_7760" data-name="Groupe 7760" transform="translate(0 0)">
                <path id="Tracé_37411" data-name="Tracé 37411"
                      d="M171.751,38.84a4.636,4.636,0,1,0,4.637,4.637A4.642,4.642,0,0,0,171.751,38.84Z"
                      transform="translate(-167.114 -38.84)" fill="#3f3f3f"/>
              </g>
            </g>
            <g id="Groupe_7763" data-name="Groupe 7763" transform="translate(1.745 43.162)">
              <g id="Groupe_7762" data-name="Groupe 7762" transform="translate(0 0)">
                <path id="Tracé_37412" data-name="Tracé 37412"
                      d="M36.911,121.689a3.466,3.466,0,1,0,3.468,3.468A3.472,3.472,0,0,0,36.911,121.689Z"
                      transform="translate(-33.443 -121.689)" fill="#3f3f3f"/>
              </g>
            </g>
            <g id="Groupe_7765" data-name="Groupe 7765" transform="translate(18.029 43.162)">
              <g id="Groupe_7764" data-name="Groupe 7764" transform="translate(0 0)">
                <path id="Tracé_37413" data-name="Tracé 37413"
                      d="M349.075,121.689a3.468,3.468,0,1,0,3.468,3.468A3.472,3.472,0,0,0,349.075,121.689Z"
                      transform="translate(-345.607 -121.689)" fill="#3f3f3f"/>
              </g>
            </g>
          </g>
        </svg>

        Listes des utilisateurs
      </div>
    </div> -->
         


    <div class="card-body">
      
              <div class="container-fluid bg-light m-1 rig">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                      <div class="row">
        
                        <div class="col-4">
                
                          <div class="d-flex mb-2 mt-2">
                            <img src="../assets/images/XMLID_246_.png" alt="image"/>
                            <span class=" mx-2 fw-bold">Bons d’achat disponibles</span>
                          </div>
            

                          <div class="d-flex-2 mt-2">
                            <img src="../assets/images/Ellipse.png" alt="image"  />
                            <span class=" mx-2">
                              100 Bon d’achat de 10 000 FCFA pour : ………90 Bons
                            </span>
                          </div>
                          
                          <img src="../assets/images/Ellipse.png" alt="image"/>
                         <span class=" mx-2">
                          10  Bon d’achat de 25 000 FCFA pour : …………0 Bon
                         </span> 
                      </div>  
            
            
                      <!---->
                      
                      <div class="col-4 mt-4">
                        <div class="d-flex-2">
                          <img src="../assets/images/Ellipse.png" alt="image"  />
                          <span class=" mx-2">
                            200 Bon d’achat de 15 000 FCFA pour : ………13 Bons
                          </span>
                        </div>
                        <img src="../assets/images/Ellipse.png" alt="image"/>
                       <span class=" mx-2">
                        10  Bon d’achat de 25 000 FCFA pour : …………0 Bon
                       </span> 
                       
                    </div> 
                    
                    
                       <!---->
                
                    <div class="col-4 mt-4">
                      <div class="d-flex-2">
                        <img src="../assets/images/Ellipse.png" alt="image"  />
                        <span class=" mx-2">
                          100 Bon d’achat de 10 000 FCFA pour : ………90 Bons
                        </span>
                      </div>
                      <img src="../assets/images/Ellipse.png" alt="image"/>
                     <span class=" mx-2">
                      10  Bon d’achat de 25 000 FCFA pour : …………0 Bon
                     </span> 
                  </div> 
                    </div>
    
           

                    </div> 
                    
                  </div> 
                  
                </div> 

                <div class="card border-0">
                  <div class="card-body">

                      <div class="container-fluid bg-light p-2">


                          <div class="row ">
                              <div class="col-md-11 ">
                                <img src="../assets/images/utilisateur1.png" alt="image" />

                             <span class="card-text fw-bold">   LISTES DES BÉNÉFICIAIRES DU FICHIER </span><span class="text-success mx-5 fw-bold"> 153 / 168 BONS </span>                              
                              </div>
                              
                              <div class="col-md-1">
                                <p><a href="#" class="link-primary " style="color: #00B3D7;">Voici un fichier</a></p>

                                
                              </div>
                                        
                             </div>
                             
                                 <div class="dashed-line"></div>                      
                                            <div class="dashed-line"></div>  

                                         
                                            <div class="row mt-5">
                                              <div class="col-sm-8 col-lg-8 col-md-9">
                                                  <div class="container-fluid">
                                                    
                                                    <form class="d-flex col-lg-6" role="search">
                                                      <div class="input-group me-2">
                                                                      <span class="input-group-text bg-transparent" id="basic-addon1">
                                                                        <svg xmlns="http://www.w3.org/2000/svg" width="9.78" height="29.781"
                                                                             viewBox="0 0 29.78 29.781">
                                                                          <g id="search-interface-symbol" transform="translate(-0.006)">
                                                                            <g id="_x34__4_" transform="translate(0.006)">
                                                                              <g id="Groupe_14977" data-name="Groupe 14977" transform="translate(0)">
                                                                                <path id="Tracé_91768" data-name="Tracé 91768"
                                                                                      d="M29.5,28.16l-7.689-7.566a12.162,12.162,0,0,0,3.251-8.264A12.432,12.432,0,0,0,12.535,0,12.431,12.431,0,0,0,.006,12.33,12.431,12.431,0,0,0,12.535,24.66a12.6,12.6,0,0,0,7.886-2.753l7.719,7.6a.974.974,0,0,0,1.363,0A.939.939,0,0,0,29.5,28.16Zm-16.969-5.4A10.518,10.518,0,0,1,1.934,12.33,10.518,10.518,0,0,1,12.535,1.9a10.518,10.518,0,0,1,10.6,10.433A10.518,10.518,0,0,1,12.535,22.763Z"
                                             
                                         transform="translate(-0.006)" fill="#d6d5d5"/>
                                                                              </g>Matricule	
                                                                            </g>
                                                                          </g>
                                                                        </svg>
                                                                      </span>
                                    
                                                        <input type="text" class="form-control search-input border-end-0" placeholder="" aria-label="search"
                                                               aria-describedby="basic-addon1">
                                                               
                                    
                                                        <button class="input-group-text bg-transparent search-reset" type="button">
                                                          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                                            <g id="Groupe_14997" data-name="Groupe 14997" transform="translate(-2111.912 -979.912)">
                                                              <rect id="Rectangle_7215" data-name="Rectangle 7215" width="24" height="24" rx="3"
                                                                    transform="translate(2111.912 979.912)" fill="#e8e7e7"/>
                                                              <path id="close"
                                                                    d="M5.866,5.094,9.727,1.232A.642.642,0,1,0,8.819.324L4.958,4.185,1.1.324a.642.642,0,0,0-.908.908L4.049,5.094.188,8.955a.642.642,0,1,0,.908.908L4.958,6,8.819,9.863a.642.642,0,0,0,.908-.908Zm0,0"
                                                                    transform="translate(2119.023 986.888)" fill="#fff"/>                                                                
                                                            
                                                            </g>
                                                          </svg>
                                                        </button>
                                                      </div>
                                                     
                                                    </form>
                                                    
                                                  </div>
                                                                                     
                                            </div>



                                    
                                                  <div class="container-fluid ">
                                                    <div class="col-lg-12 mt-4 ">

                                                    <table class="table table-striped">
                                                      <thead>
                                                        <div class="d-flex-2">

                                                        <tr>
                                                          <span class="bg">
                                                          <th style="background-color:#00B3D7;" class="checkbox"><input class="form-check-input" type="checkbox" value="" id="flexCheck1" > </th></span>
                                                          <th style="background-color: #17bbdb;" class="text-white">NOM ET PRÉNOMS DU CLIENT</th>
                                                          <th style="background-color: #00B3D7;" class="text-white"> CATÉGORIE DE BON</th>
                                                          <th style="background-color: #00B3D7;" class="text-white">NOMBRE DE BON</th>
                                                          <th style="background-color: #00B3D7;"  class="text-white">MONTANT TOTAL</th>
                                                          <th style="background-color: #00B3D7;"  class="text-white">CANAL DE DISTRIBUTION</th>
                                                          <th style="background-color: #00B3D7;"  class="text-white">N° DE TÉLÉPHONE</th>
                      
                                                        </tr>
                                                        </div>
                                                      </thead>
                                                      <tbody>
                                                        <tr>
                                                          <th><input class="form-check-input" type="checkbox" value="" id="flexCheck1"> </th>

                                                          <td>Koffi Emmanuel</td>
                                                          <td>10 000 FCFA</td>
                                                          <td>01</td>
                                                          <td>10 000 FCFA</td>
                                                          <td>Whatsapp ( +225 0000000000 )</td>
                                                          <td>+225 0000000000</td>
                                                        </tr>
                                                        <tr>
                                                          <th><input class="form-check-input" type="checkbox" value="" id="flexCheck1"> </th>

                                                          <td>KOFFI Kouadio Jean</td>
                                                          <td>15 000 FCFA</td>
                                                          <td>02</td>
                                                          <td>30 000 FCFA</td>
                                                          <td>Adresse mail ( jeankouamégmail.com )</td>
                                                          <td>+225 0000000001</td>

                                                          
                                                        </tr>
                                                        <tr>
                                                          <th><input class="form-check-input" type="checkbox" value="" id="flexCheck1"> </th>

                                                          <td>KOUAME Yapi</td>
                                                          <td>20 000 FCFA</td>
                                                          <td>01</td>
                                                          <td>20 000 FCFA</td>
                                                          <td>Adresse mail ( yapikouamégmail.com )</td>
                                                          <td>+225 0000000001</td>

                                                        </tr>
                                                      </tbody>
                                                    </table>
                                                  
                                                  </div>
                                                    
                                                          <ul class="pagination pagination-sm justify-content-sm-end px-5">
                                                            <li class="page-item"><a class="page-link" href="" style="color:#FFC436;">1</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" style="color: #00B3D7;">2</a></li>
                                                            <li class="page-item"><a class="page-link" href="#" style="color: #00B3D7;">3</a></li>
                                                            <i class="bi bi-arrow-left m-1"></i>
                                                            <li class="page-item"><a class="page-link" href="#" style="color: #00B3D7;"><span style="color: #FFC436;">01</span>/05</a></li><i class="bi bi-arrow-right m-1"></i>

                                                          </ul>
                                                          
                                                          </div>
                                                            </div>
                                                            <div class="container-fluid">
                                                              <div class="row">
                                                            <div class="col-md-11">
                                                            <button type="button" class="btn btn-outline-danger me-3" style="color: #FD5446;">RETOUR</button> 
                                                            <button type="button" class="btn btn-outline-primary border-primary" style="color: #00B3D7;">VALIDER</button>
  
                                                    </div>
                                                  </div>
                                                  
                                                
                                                
                                              