
.dashed-line {
  height: 1px;
  
  border-top: 1px dashed lightgray;
  margin: 0 -8px; /* Pour toucher les cercles */
  z-index: 0; /* Pour s'assurer que les lignes sont en dessous des cercles */
  color:antiquewhite;
}

.eco{
  height: 10px;
}
.form-check-input{
  top: 883px;
left: 218px;
width: 20px;
height: 20px;
border: 1px solid #0BC112;
opacity: 1;
}
.bg-blue{
  background-color:#00B3D7;
}

