<!-- grid of visa/mastercard-->
<!--
   <div class="grid-item" (click)="toggleDetails($event)">
    <button class="round-button" [class.checked]="detailsOpened" (click)="toggleDetails($event)"></button>
    <img src="/assets/images/visa_money.png" alt="Image de moyen de paiement">
    <img src="/assets/images/moyen_payment.png" alt="Image de moyen de paiement">
    <span class="px-3">mastercard/VISA</span>
    <i class="bi" [ngClass]="{'bi-chevron-right': !detailsOpened, 'bi-chevron-down': detailsOpened}"></i>
    </div>
  <div *ngIf="detailsOpened || isAnimating" class="details grid-items" [ngClass]="{'animate-slide-in': detailsOpened, 'animate-slide-out': !detailsOpened}">
    <div class="border-1  rounded-0 mb-5">
        <div class="form-row d-flex px-5">
            <div class="col-12 col-md-5 mb-3 me-5">
              <label for="phoneNumber">Numéro de téléphone <span class="text-danger">*</span></label>
              <input type="text" class="form-control rounded-0 me-3" id="phoneNumber" placeholder="Entrez votre numéro de téléphone" [(ngModel)]="phoneNumber">
            </div>
            <div class="col-12 col-md-5 mb-3 ">
              <label for="cvvNumber">Numéro de CVV <span class="text-danger">*</span></label>
              <input type="text" class="form-control rounded-0" id="cvvNumber" placeholder="Entrez votre numéro de CVV" [(ngModel)]="cvvNumber">
            </div>
          </div>
          <div class="form-group px-5 pb-3">
            <div class="col-12 col-md-5 mb-12 ">
                <label for="expirationDate">Date d'expiration <span class="text-danger">*</span></label>
                <input type="text" class="form-control rounded-0" id="expirationDate" placeholder="MM/YY" [(ngModel)]="expirationDate">
              </div>
          </div>
    </div>
   </div>   -->

<div
  *ngFor="let grid of grids; let i = index"
  class="grid-item"
  (click)="toggleGrid(i)"
>
  <div class="content-header">
    <div
      class="checkbox"
      [ngClass]="{ active: selectedGrid === i }"
      (click)="$event.stopPropagation(); toggleGrid(i)"
    ></div>
    <img
      class="img-fluid"
      [src]="grid.imageUrl"
      alt=""
      [ngClass]="{
        'moov-money-image': grid.title.trim() === 'Moov money',
      }"
    />
    <span>{{ grid.title }}</span>
    <i
      class="icon-blue"
      [ngClass]="{
        'bi-chevron-right': selectedGrid !== i,
        'bi-chevron-down': selectedGrid === i,
      }"
    ></i>
  </div>
  <div
    class="grid-content"
    [ngClass]="{ open: selectedGrid === i, closed: selectedGrid !== i }"
  >
    <div class="input-container" (click)="$event.stopPropagation()">
      <div class="input-row">
        <div class="input-field">
          <label for="phone-{{ i }}">
            Numéro de la carte
            <span class="text-danger">*</span>
          </label>
          <input
            id="phone-{{ i }}"
            type="tel"
            [(ngModel)]="grid.number"
            placeholder="Entrez le numéro"
          />
        </div>
        <div class="input-field">
          <label for="cvv-{{ i }}">
            Numéro CVV
            <span class="text-danger">*</span>
          </label>
          <input
            id="cvv-{{ i }}"
            type="text"
            [(ngModel)]="grid.cvv"
            placeholder="Entrez le CVV"
          />
        </div>
      </div>
      <div class="input-field">
        <label for="expiry-{{ i }}">
          Date d'expiration
          <span class="text-danger">*</span>
        </label>
        <input
          id="expiry-{{ i }}"
          type="text"
          [(ngModel)]="grid.expiration"
          placeholder="MM/AA"
        />
      </div>
    </div>
  </div>
</div>
