<div class="container">
  <h1>WIDGETS</h1>

  <div class="py-4">
    <h4>app-purchases</h4>
    <add-to-cart />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>back-button</h4>
    <app-back-button/>
  </div>

  <p-divider />

  <div class="py-4">
    <h4>banner-1</h4>
    <app-banner-1 />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>banner-2</h4>
    <app-banner-2 />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>banner-3</h4>
    <app-banner-3/>
  </div>

  <p-divider />

  <div class="py-4">
    <h4>banner-4</h4>
    <app-banner-4 />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-basketcomponent</h4>
    <app-basketcomponent />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-beneficiary-list</h4>
    <app-beneficiary-list />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-body</h4>
    <app-body />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-btn-add-basket</h4>
    <app-btn-add-basket />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-buyvouchers</h4>
    <app-buyvouchers />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-card</h4>
    <app-card />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-card-detail</h4>
    <app-card-detail />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-card-visa-mastercard-payment</h4>
    <app-card-visa-mastercard-payment />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-cartsuccess</h4>
    <app-cartsuccess />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-channeldistribution</h4>
    <app-channeldistribution [modal]="false" />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-choice</h4>
    <app-choice />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-client</h4>
    <app-client />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-company</h4>
    <app-company />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-detailbasket</h4>
    <app-detailbasket />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-detailorder</h4>
    <app-detailorder />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-detailpayment</h4>
    <app-detailpayment />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-distributed</h4>
    <app-distributed />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-distributeinduvidual</h4>
    <app-distributeinduvidual />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-distribution-channel</h4>
    <app-distribution-channel />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-entreprise</h4>
    <app-entreprise />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-favorite-button</h4>
    <app-favorite-button />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-footer</h4>
    <app-footer />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-register</h4>
    <app-register />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-forms</h4>
    <app-forms />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-greatdeal</h4>
    <app-greatdeal />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-header</h4>
    <app-header />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-heart</h4>
    <app-heart />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-horizontal-card</h4>
    <app-horizontal-card />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-img-block</h4>
    <app-img-block />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-index</h4>
    <app-index />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-individual</h4>
    <app-individual />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-loading-charge</h4>
    <app-loading-charge />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-login</h4>
    <app-login />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-lottie-bag</h4>
    <app-lottie-bag />
  </div>

  <p-divider />

  <!-- <div class="py-4">
    <h4>app-lottie-files</h4>
    <app-lottie-files />
  </div> -->

  <p-divider />

  <div class="py-4">
    <h4>app-lottie-succes</h4>
    <app-lottie-succes />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-lottie-validate</h4>
    <app-lottie-validate />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-lotties</h4>
    <app-lotties />
  </div>

  <p-divider />

  <!-- <div class="py-4">
    <h4>app-lottiesucess</h4>
    <app-lottiesucess />
  </div> -->

  <p-divider />

  <div class="py-4">
    <h4>app-means-payment</h4>
    <app-means-payment />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-favorites</h4>
    <app-favorites />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-navbar</h4>
    <app-navbar />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-order</h4>
    <app-order />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-order-success</h4>
    <app-order-success />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-orderdetail-amount</h4>
    <app-orderdetail-amount />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-page-not-found</h4>
    <app-page-not-found />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-pagination</h4>
    <app-pagination />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-password-reset</h4>
    <app-password-reset />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-payment</h4>
    <app-payment />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-promos</h4>
    <app-promos />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase</h4>
    <app-purchase />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase-available</h4>
    <app-purchase-available />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase-available-2</h4>
    <app-purchase-available-2 />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase-most</h4>
    <app-purchase-most />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase-promo</h4>
    <app-purchase-message [promo]="'promo'" />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchase-recent-view</h4>
    <app-purchase-recent-view />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-quantity-button</h4>
    <app-quantity-button />
  </div>

  <p-divider />

  <!-- <div class="py-4">
    <h4>app-register-index</h4>
    <app-register-index />
  </div> -->

  <p-divider />

  <div class="py-4">
    <h4>app-sec-msg</h4>
    <app-sec-msg />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-securitizationpay</h4>
    <app-securitizationpay />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-seesuccess</h4>
    <app-seesuccess />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-storeconcerns</h4>
    <app-storeconcerns />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-success</h4>
    <app-success />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-total-price-card</h4>
    <app-total-price-card />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-voucher</h4>
    <app-voucher />
  </div>

  <p-divider />

  <div class="py-4">
    <h4>app-purchases</h4>
    <app-purchases />
  </div>

  <p-divider />
</div>
