<form>
    <div class="message">
        <span>vous souhaitez vous inscrire en tant que : </span>
    </div>
    <div class="profil">
        Sélectionnez votre profil :
    </div>
    <div class="d-grid">
        <button type="button" class="individual" (click)="redirectIndividual()"><i class="bi bi-people-fill mx-2"></i>particulier</button>
        <button type="button" class="company mt-2" (click)="redirectCompanyl()"><i class="bi bi-building-fill mx-2"></i>entreprise</button>
    </div>
</form>