h6 {
    font-family: 'Proxima Nova Extra Condensed', sans-serif;
    letter-spacing: 2px;
}

.text-nb-card{
    font-family: 'Proxima Nova Extra Condensed';
    font-size: 13px;
    margin-top: 0px !important;
    color:#BABABA;;
}

.custom-btn {
    border-radius: 0%;
    border-color: #00b3d7;
    color: #00b3d7;
}

.custom-btn:hover {
    background-color: #00b3d7;
    color: #fff;
}
