.add-to-cart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #02b3d7;
  padding: 10px 15px;
  background-color: transparent;
  color: #02b3d7;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: #02b3d7;
    color: white;
    svg path {
      fill: white;
    }

    svg {
      transform: translateX(-4px);
    }

    .button-text {
      transform: translateX(4px);
    }
  }

  svg {
    width: 20px;
    height: 19.436px;
    margin-right: 8px;
    fill: #02b3d7;
    transition:
      transform 0.3s,
      fill 0.3s;
  }

  .button-text {
    font-size: 12px;
    transition: transform 0.3s;
  }
}

.add-to-cart-button .button-text {
  white-space: nowrap;
}

.clickable-icon {
  cursor: pointer;
}

.clickable-icon .active {
  fill: #ffa500; /* Orange color */
}

.clickable-icon {
  cursor: pointer;
  fill: currentColor; /* Use the currentColor value */
}

.active {
  fill: orange; /* Orange color */
}
