<!-- 
<div class="popup" [class.show]="showPopup">
  <header>
    <span class="pt-5 fw-bold px-5 ">Choisissez le canal de distribution</span>
    <div class="close " (click)="togglePopup()"><i class="uil uil-times"></i> <span class="text-danger">x</span></div>
  </header>
  <div class="content pt-3">
  <div class="rounded-social-buttons">
    <a class="social-button whatsapp me-4" href="" target="_blank"><i class="fab fa-whatsapp"></i></a>
    <a class="social-button facebook me-4" href="" target="_blank"><i class="fab fa-facebook-f"></i></a>
    <a class="social-button telegram me-4" href="" target="_blank"><i class="fab fa-telegram"></i></a>
    <a class="social-button linkedin me-4" href="" target="_blank"><i class="fab fa-linkedin"></i></a>
 
</div>

<div class="rounded-social-buttons mt-4">
    <a class="social-button instagram me-4" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a class="social-button twitter me-4" href="" target="_blank"><i class="fab fa-twitter"></i></a>
    <a class="social-button skype me-4" href="" target="_blank"><i class="fab fa-skype" ></i></a>
    <a class="social-button tiktok me-4" href="" target="_blank"><i class="fab fa-tiktok"></i></a>
  
</div>
  </div>
</div>  -->
