<!-- <div class="container-fluid mt-5" style="width: 80%;">
    <div class="row">
        <ng-content select="[back]"></ng-content>
    </div>
    <div class="card mt-3 border-0">
        <div class="card-body border-0">
            <div class="row">
                <div class="col-12 col-md-5 ms-5">
                    <div class="card mb-3 bg-gray" style="max-width: 2040px;border-radius:0%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./assets/images/10000.png" class="img-fluid rounded-start"
                                    style="height: 100%;max-width:106%;" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column justify-content-between align-items-start">
                                    <div *ngFor="let detail of details">
                                        <h5 class="card-title mb-0 ms-0 mt-0 d-flex align-items-center">
                                            Bon d’achat de {{detail.pay1}} FCFA
                                        </h5>

                                        <p class="card-text"><small class="text-muted">Date d’ajout :
                                                {{detail.date }}
                                                {{detail.heure}}
                                            </small></p>
                                        <p class="card-text"><small class="text-muted">Nombre de bon disponible :
                                                infini</small></p>
                                        <p class="card-text mb-0" style="color:#FFC436;">
                                            <svg id="XMLID_90_" xmlns="http://www.w3.org/2000/svg" width="18.809"
                                                height="17.017" viewBox="0 0 18.809 17.017">
                                                <path id="XMLID_91_"
                                                    d="M6.269,20.377c3.588,0,6.269-1.418,6.269-2.687S9.857,15,6.269,15,0,16.423,0,17.691,2.681,20.377,6.269,20.377Z"
                                                    transform="translate(0 -15.004)" fill="#ffc436" />
                                                <path id="XMLID_92_"
                                                    d="M6.269,231.405a13.128,13.128,0,0,0,1.507-.086,7.173,7.173,0,0,1-.989-1.715c-.172.006-.345.01-.519.01A12.5,12.5,0,0,1,.8,228.47,7.1,7.1,0,0,1,0,228v.715C0,229.987,2.681,231.405,6.269,231.405Z"
                                                    transform="translate(0 -215.284)" fill="#ffc436" />
                                                <path id="XMLID_93_"
                                                    d="M6.268,171.414h.055a7.2,7.2,0,0,1,0-1.791H6.268A12.5,12.5,0,0,1,.8,168.479a7.1,7.1,0,0,1-.8-.466v.714C0,170,2.68,171.414,6.268,171.414Z"
                                                    transform="translate(0.001 -158.876)" fill="#ffc436" />
                                                <path id="XMLID_102_"
                                                    d="M6.268,111.422q.267,0,.526-.01a7.175,7.175,0,0,1,1.121-1.871,15.056,15.056,0,0,1-1.647.09A12.5,12.5,0,0,1,.8,108.487a7.106,7.106,0,0,1-.8-.466v.715C0,110,2.68,111.422,6.268,111.422Z"
                                                    transform="translate(0.001 -102.466)" fill="#ffc436" />
                                                <path id="XMLID_103_"
                                                    d="M135.862,122.367a5.354,5.354,0,0,0-.9,2.969,5.4,5.4,0,0,0,.055.766,5.333,5.333,0,0,0,.56,1.727,5.407,5.407,0,0,0,1.139,1.475,5.374,5.374,0,1,0-.857-6.937Z"
                                                    transform="translate(-126.905 -113.693)" fill="#ffc436" />
                                            </svg>
                                            {{detail.pay1}} FCFA
                                        </p>

                                    </div>
                                    <button type="button" class="btn mt-3 btn border-0 btn-square no-hover">
                                        <svg id="Composant_138_2" data-name="Composant 138 – 2"
                                            xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 40 40">
                                            <g id="Groupe_141425" data-name="Groupe 141425">
                                                <g id="Rectangle_651" data-name="Rectangle 651" fill="#fff"
                                                    stroke="#fd5446" stroke-width="1">
                                                    <rect width="40" height="10" stroke="none" />
                                                    <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
                                                </g>
                                                <path id="delete"
                                                    d="M56.143.6a.591.591,0,0,1,.59-.59h5.9a.591.591,0,0,1,.59.591V2.056H56.143Zm9.7,19.842a.9.9,0,0,1-.908.845H54.362a.913.913,0,0,1-.908-.848L52.549,7.2H66.81l-.966,13.24ZM68.2,6H51.171V4.627a1.373,1.373,0,0,1,1.372-1.372H66.824A1.374,1.374,0,0,1,68.2,4.627V6ZM56.942,18.128a.6.6,0,1,0,1.2,0v-8.4a.6.6,0,1,0-1.2,0v8.405Zm4.276,0a.6.6,0,0,0,1.2,0v-8.4a.6.6,0,1,0-1.2,0Z"
                                                    transform="translate(-40.17 8.994)" fill="#fd5446"
                                                    fill-rule="evenodd" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card  mb-3" style="max-width: 2040px;border-radius:0%;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="./assets/images/30000.png" class="img-fluid rounded-start"
                                    style="height: 100%;max-width:106%;" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body d-flex flex-column justify-content-between align-items-start">
                                    <div *ngFor="let detail of details">
                                        <h5 class="card-title mb-0 ms-0 mt-0 d-flex align-items-center">
                                            Bon d’achat de {{detail.pay2}} FCFA
                                        </h5>

                                        <p class="card-text"><small class="text-muted">Date d’ajout :
                                                {{detail.date }}
                                                {{detail.heure}}
                                            </small></p>
                                        <p class="card-text"><small class="text-muted">Nombre de bon disponible :
                                                infini</small></p>
                                        <p class="card-text mb-0" style="color:#FFC436;">
                                            <svg id="XMLID_90_" xmlns="http://www.w3.org/2000/svg" width="18.809"
                                                height="17.017" viewBox="0 0 18.809 17.017">
                                                <path id="XMLID_91_"
                                                    d="M6.269,20.377c3.588,0,6.269-1.418,6.269-2.687S9.857,15,6.269,15,0,16.423,0,17.691,2.681,20.377,6.269,20.377Z"
                                                    transform="translate(0 -15.004)" fill="#ffc436" />
                                                <path id="XMLID_92_"
                                                    d="M6.269,231.405a13.128,13.128,0,0,0,1.507-.086,7.173,7.173,0,0,1-.989-1.715c-.172.006-.345.01-.519.01A12.5,12.5,0,0,1,.8,228.47,7.1,7.1,0,0,1,0,228v.715C0,229.987,2.681,231.405,6.269,231.405Z"
                                                    transform="translate(0 -215.284)" fill="#ffc436" />
                                                <path id="XMLID_93_"
                                                    d="M6.268,171.414h.055a7.2,7.2,0,0,1,0-1.791H6.268A12.5,12.5,0,0,1,.8,168.479a7.1,7.1,0,0,1-.8-.466v.714C0,170,2.68,171.414,6.268,171.414Z"
                                                    transform="translate(0.001 -158.876)" fill="#ffc436" />
                                                <path id="XMLID_102_"
                                                    d="M6.268,111.422q.267,0,.526-.01a7.175,7.175,0,0,1,1.121-1.871,15.056,15.056,0,0,1-1.647.09A12.5,12.5,0,0,1,.8,108.487a7.106,7.106,0,0,1-.8-.466v.715C0,110,2.68,111.422,6.268,111.422Z"
                                                    transform="translate(0.001 -102.466)" fill="#ffc436" />
                                                <path id="XMLID_103_"
                                                    d="M135.862,122.367a5.354,5.354,0,0,0-.9,2.969,5.4,5.4,0,0,0,.055.766,5.333,5.333,0,0,0,.56,1.727,5.407,5.407,0,0,0,1.139,1.475,5.374,5.374,0,1,0-.857-6.937Z"
                                                    transform="translate(-126.905 -113.693)" fill="#ffc436" />
                                            </svg>
                                            {{detail.pay2}} FCFA
                                        </p>
                                    </div>
                                    <button type="button" class="btn mt-3 btn border-0 btn-square no-hover">
                                        <svg id="Composant_138_2" data-name="Composant 138 – 2"
                                            xmlns="http://www.w3.org/2000/svg" width="40" height="40"
                                            viewBox="0 0 40 40">
                                            <g id="Groupe_141425" data-name="Groupe 141425">
                                                <g id="Rectangle_651" data-name="Rectangle 651" fill="#fff"
                                                    stroke="#fd5446" stroke-width="1">
                                                    <rect width="40" height="10" stroke="none" />
                                                    <rect x="0.5" y="0.5" width="39" height="39" fill="none" />
                                                </g>
                                                <path id="delete"
                                                    d="M56.143.6a.591.591,0,0,1,.59-.59h5.9a.591.591,0,0,1,.59.591V2.056H56.143Zm9.7,19.842a.9.9,0,0,1-.908.845H54.362a.913.913,0,0,1-.908-.848L52.549,7.2H66.81l-.966,13.24ZM68.2,6H51.171V4.627a1.373,1.373,0,0,1,1.372-1.372H66.824A1.374,1.374,0,0,1,68.2,4.627V6ZM56.942,18.128a.6.6,0,1,0,1.2,0v-8.4a.6.6,0,1,0-1.2,0v8.405Zm4.276,0a.6.6,0,0,0,1.2,0v-8.4a.6.6,0,1,0-1.2,0Z"
                                                    transform="translate(-40.17 8.994)" fill="#fd5446"
                                                    fill-rule="evenodd" />
                                            </g>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 bg-light mt-4 mt-md-0 ms-md-4">
                    <div class="card-body">
                        <h3 class="card-title fw-bold ms-2"></h3>

                        <div class="table-responsive mt-5">
                            <table border="0" cellspacing="10" cellpadding="10">
                                <tbody>
                                    <tr *ngFor="let detail of details">
                                        <td>
                                            {{detail.bon1}} BON D’ACHAT DE {{detail.pay1}} FCFA: ……………………………………
                                        </td>
                                        <td>{{detail.montantBon1}} FCFA </td>
                                    </tr>
                                    <tr *ngFor="let detail of details ">
                                        <td>
                                            {{detail.bon2}}BON D’ACHAT DE {{detail.pay2}} FCFA: ……………………………………
                                        </td>
                                        <td>{{detail.montantBon2}} FCFA</td>
                                    </tr>
                                    <tr *ngFor="let detail of details">
                                        <td>
                                            FRAIS : ……………………………………………………………………
                                        </td>
                                        <td>
                                            {{detail.frais}} FCFA
                                        </td>
                                    </tr>
                                    <tr *ngFor="let detail of details">
                                        <td>
                                            <h1 class="mt-5" style="color: #FFC436;">
                                                <svg id="XMLID_90_" xmlns="http://www.w3.org/2000/svg" width="18.809"
                                                    height="17.017" viewBox="0 0 18.809 17.017">
                                                    <path id="XMLID_91_"
                                                        d="M6.269,20.377c3.588,0,6.269-1.418,6.269-2.687S9.857,15,6.269,15,0,16.423,0,17.691,2.681,20.377,6.269,20.377Z"
                                                        transform="translate(0 -15.004)" fill="#ffc436" />
                                                    <path id="XMLID_92_"
                                                        d="M6.269,231.405a13.128,13.128,0,0,0,1.507-.086,7.173,7.173,0,0,1-.989-1.715c-.172.006-.345.01-.519.01A12.5,12.5,0,0,1,.8,228.47,7.1,7.1,0,0,1,0,228v.715C0,229.987,2.681,231.405,6.269,231.405Z"
                                                        transform="translate(0 -215.284)" fill="#ffc436" />
                                                    <path id="XMLID_93_"
                                                        d="M6.268,171.414h.055a7.2,7.2,0,0,1,0-1.791H6.268A12.5,12.5,0,0,1,.8,168.479a7.1,7.1,0,0,1-.8-.466v.714C0,170,2.68,171.414,6.268,171.414Z"
                                                        transform="translate(0.001 -158.876)" fill="#ffc436" />
                                                    <path id="XMLID_102_"
                                                        d="M6.268,111.422q.267,0,.526-.01a7.175,7.175,0,0,1,1.121-1.871,15.056,15.056,0,0,1-1.647.09A12.5,12.5,0,0,1,.8,108.487a7.106,7.106,0,0,1-.8-.466v.715C0,110,2.68,111.422,6.268,111.422Z"
                                                        transform="translate(0.001 -102.466)" fill="#ffc436" />
                                                    <path id="XMLID_103_"
                                                        d="M135.862,122.367a5.354,5.354,0,0,0-.9,2.969,5.4,5.4,0,0,0,.055.766,5.333,5.333,0,0,0,.56,1.727,5.407,5.407,0,0,0,1.139,1.475,5.374,5.374,0,1,0-.857-6.937Z"
                                                        transform="translate(-126.905 -113.693)" fill="#ffc436" />
                                                </svg>
                                                {{detail.total}} FCFA
                                            </h1>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="row ">
                            <div class="col">
                                <div class="col-auto" style="color:#00B3D7;">
                                    <button type="button" class="btn-custom next" style="border-radius:0%;">
                                        ACHETER
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid overflow-hidden mb-5">
    <div class="mt-3 d-grid px-lg-5 px-2 mb-5">
        <ng-content select="[back]"></ng-content>

        <div class="mt-3 d-lg-flex d-grid justify-content-between">
            <div class="d-md-block col-lg-4">
                @for(detail of infos; track detail){
                <div class="card flex-md-row flex-column justify-content-center mb-3 mw-100">
                    <div class="col-lg-3 col-md-4 col-12 d-flex align-items-center justify-content-center">
                        <img [src]=" detail.imageURI" class="h-100 w-100" alt="...">
                    </div>

                    <div class="card-body pb-0">
                        <div class="card-title d-flex justify-content-between fs-18">
                            <p class="mb-0 fs-18">
                                {{detail.number}} Bon d’achat de {{detail.amount | formatNumber }}
                                FCFA
                            </p>
                        </div>
                        <div>
                            <p class="fs-13 mb-0">
                                <small class="text-muted">
                                    Date d'ajout : {{detail.date}}
                                </small>
                            </p>
                            <p class="fs-13 mb-2">
                                <small class="text-muted">
                                    Nombre de bon disponible : {{detail.voucherNumber}}
                                </small>
                            </p>

                            <p class="fs-18 d-flex align-items-center mb-2" style="color: #FFC436;">
                                <img src="/assets/images/money.svg" class="bg-light" alt="...">
                                <span class="mx-2 fs-18">{{ detail.number * detail.amount | formatNumber }} FCFA</span>
                            </p>

                            <div class="fs-18 d-flex justify-content-between align-items-center my-3"
                                style="color: #FFC436;">
                                <img src="/assets/images/trash.svg" alt="...">
                                <div class="d-flex">
                                    <div class="d-flex justify-content-end">
                                        <div (click)="decrement(detail.id)">
                                            <img src="/assets/images/minus.svg" alt="...">
                                        </div>
                                        <input class="form-input w-25 h-100 px-0 text-center rounded-0 fs-16"
                                            style="border: 1px solid #8D8A8A" [value]="detail.number" disabled>
                                        <div (click)="increment(detail.id)">
                                            <img src="/assets/images/malus.svg" alt="...">
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="d-flex align-items-center">
                    </div>
                </div>
                }
            </div>

            <div class="col-12 col-lg-7 col-md-12 success">
                <div class="card-body m-5" style="max-width: fit-content;">
                    <span class="card-title message fs-30 upper">détails du panier</span>

                    <div class="table-responsive my-5">
                        <table class="fs-14 upper" cellspacing="10" cellpadding="10">
                            <tbody>
                                @for(item of infos; track item){
                                <tr>
                                    <td class="p-0">{{item.number}} bon d'achat de {{item.amount}}
                                        fcfa: </td>
                                    <td class="d-lg-block d-none">..................................</td>
                                    <td>{{ item.number * item.amount | formatNumber}} fcfa</td>
                                </tr>
                                }
                                <tr>
                                    <td class="p-0">frais: </td>
                                    <td class="d-lg-block d-none">..................................</td>
                                    <td>{{ fees | formatNumber }} fcfa</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <span class="d-flex text-center message fs-30 my-5" style="color: #FFC436;">
                        <img src="/assets/images/money.svg" alt="..." width="30px" height="27px">

                        <span class="mx-2">{{ amountTotal + fees | formatNumber }} FCFA</span>
                    </span>

                    <button class="btn-custom next fs-14 upper" [routerLink]="'/payment'">
                        acheter
                    </button>

                </div>
            </div>
        </div>
    </div>
</div>