<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h3>Mot de passe oublié</h3>
            <form [formGroup]="forgotPasswordForm" (ngSubmit)="sendOTP()">
                <div class="mb-3">
                    <label for="email" class="form-label">Adresse e-mail</label>
                    <input type="email" id="email" class="form-control" formControlName="email"
                        placeholder="Saisissez votre adresse e-mail">
                    @if(forgotPasswordForm.controls.email.invalid && (forgotPasswordForm.controls.email.touched ||
                    forgotPasswordForm.controls.email.dirty)){
                    <div class="text-danger">
                        Une adresse e-mail valide est requise.
                    </div>
                    }

                </div>
                <button type="submit" class="btn btn-primary" [disabled]="isLoading">
                    @if(isLoading){
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    @if(!isLoading){
                    Envoyer OTP
                    }
                </button>
            </form>
            @if(errorMessage){
            <div class="alert alert-danger mt-3">
                {{ errorMessage }}
            </div>
            }
        </div>
    </div>