/* application des effets sur le texte pour donner le rendu attendu */

// effet sur le h5 qui represente le Titre
.bon h5 {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-40)/50px var(--unnamed-font-family-proxima-nova);
    letter-spacing: var(--unnamed-character-spacing-2);
    color: #00B3D7;
    text-align: left;
    font: normal normal bold 40px/50px Proxima Nova;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 1;
}

// 



// effet sur le paragraphe qui donne la description 
p {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-300) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-26) var(--unnamed-font-family-proxima-nova);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--texte);
    text-align: left;
    font: normal normal 300 16px/26px Proxima Nova;
    letter-spacing: 0px;
    color: #1F1F1F;
    opacity: 1;


}

//  effet sur le bous ton achat du bons

.btn-bon {
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) 14px/25px var(--unnamed-font-family-proxima-nova);
    letter-spacing: var(--unnamed-character-spacing-0);
    text-align: center;
    font: normal normal normal 14px/25px Proxima Nova;
    letter-spacing: 0px;
    color: #FFFFFF;
    border-radius:0%;
    text-transform: uppercase;
    opacity: 1;
}


//  modification de l'image 

.img-1 img,
img {
    width: 900px;
    height: 650px;
  
    max-width: 100vh;
    /* Ensure it doesn't exceed the container width */
}


/* l'application des effet sur le slide pour que les images soient animés*/
@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(-20%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromVertical {
    0% {
        opacity: 0;
        transform: translateY(20%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.slide-in {
    animation: slideInFromRight 0.9s ease-in-out;
}

.slide-vertical {
    animation: slideInFromVertical 0.9s ease-in-out;
}

/* les effet sur les boutons pour que les boutons puissent changer les images peuvent être modiifier*/

.btn-slide {
    animation: buttonSlide 0.9s ease-in-out forwards;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-bottom:15%;
    border: 1px solid #fff;
    display: inline-flex;
    align-items: center;
   
}

// effet de la fleche
.btn-fleche{
    margin-bottom:17%;

}

/* l'effet qui doit changer la couleur du background dans les boutons du slider */


.btn-slide.active::after {
    background-color: #FFC436;
    /* Change color when active */
}