<div class="container-fluid purchase-card-first">
    <section class="gift-section ms-5">
        <div class="gift-section-container">
            <div class="row align-items-center">
                <div class="col-md-6 text-center text-md-left">
                    <div class="title-purchase">Offrez des <span class="highlight">Bons d'Achat</span><br/> à vos collaborateurs</div>
                    <p class="purchase-coupon fw-lighter">À la recherche du cadeau parfait qui fera sourire vos proches ? Ne cherchez plus ! Les bons d'achat du Boncoin sont la solution idéale pour offrir la liberté de choix à ceux que vous aimez. Faites briller les yeux de vos proches avec les bons d'achat du Boncoin. Parce que le plus beau des cadeaux, c'est celui qui laisse le choix !</p>
                    <a (click)="PurchaseOrder()" class="btn btn-warning mt-5">Acheter des bons</a>
                </div>
                <div class="col-md-6 text-center purchase-card-gift">
                    <app-img-block/>
                </div>
            </div>
        </div>
    </section>
</div>