.custom-btn {
  border-radius: 0%;
  border-color: #00b3d7;
  color: #00b3d7;
}

.custom-btn:hover {
  background-color: #00b3d7;
  color: #fff;
}

.quantity-controls {
  display: flex;
  align-items: center;

  button {
    width: 40px;
    height: 40px;
    border: 2px solid #00b3d7;
    background-color: white;
    color: rgb(94, 92, 92);
    font-size: 1.5rem;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease; /* Ajouter la transition pour le zoom */
  }

  button:hover {
    transform: scale(1.1); /* Ajouter l'effet de zoom sur hover */
  }

  span {
    width: 60px;
    height: 40px; /* Hauteur de la quantité */
    border: 2px solid rgb(78, 78, 78);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem; /* Taille de la police de la quantité */
    margin: 0 1px; /* Marge autour de la quantité */
  }
}

.bi-star {
  color: yellow; /* Change la couleur de la bordure de l'icône */
  fill: yellow; /* Change la couleur de l'intérieur de l'icône */
}

.bi-star {
  color: yellow; /* Couleur par défaut de la bordure de l'icône */
  transition: color 2s ease; /* Transition pour l'effet de couleur */
}

.bi-star.clicked {
  color: yellow; /* Couleur de l'icône lorsqu'elle est cliquée */
}

.add-to-cart-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #02b3d7;
  padding: 10px 15px;
  background-color: transparent;
  color: #02b3d7;
  cursor: pointer;
  transition:
    background-color 0.3s,
    color 0.3s;

  &:hover {
    background-color: #02b3d7;
    color: white;
    svg path {
      fill: white;
    }

    svg {
      transform: translateX(-4px);
    }

    .button-text {
      transform: translateX(4px);
    }
  }

  svg {
    width: 20px;
    height: 19.436px;
    margin-right: 8px;
    fill: #02b3d7;
    transition:
      transform 0.3s,
      fill 0.3s;
  }

  .button-text {
    font-size: 16px;
    transition: transform 0.3s;
  }
}

.add-to-cart-button .button-text {
  white-space: nowrap;
}

.card {
  width: 200px;
  height: 10px;
  padding: 23px;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount,
.currency {
  color: orange;
}

.clickable-icon {
  cursor: pointer;
}
