<div class="container mt-5 bg-white">
  <div class="pt-5">
    <app-sec-msg></app-sec-msg>
    <form class="m-lg-5 m-md-5 m-3 justify-content-center" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div class="message pb-3">
        <span>connectez vous à votre espace boncoin.</span>
      </div>
      <div class="mb-3">
        <label for="login" class="form-label">
          Login
          <span class="red">*</span>
        </label>
        <div class="col-sm-12">
          <input type="text" class="form-input" id="login" placeholder="Saisissez votre login"
            formControlName="login" />
        </div>
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">
          Mot de passe
          <span class="red">*</span>
        </label>
        <div class="col-sm-12 d-flex align-items-center">
          <input type="password" class="form-input" id="password" placeholder="Saisissez votre mot de passe"
            formControlName="password" />
        </div>
      </div>
      <p class="mb-0">
        <a class="link" href="#" (click)="forgotPassword()">
          Mot de passe oublié
        </a>
      </p>
      <div class="d-flex gap-2 py-5">
        <button type="button" class="btn-custom inscription" routerLink="/register">
          inscription
        </button>
        <button type="submit" class="btn-custom connexion" [disabled]="!loginForm.valid">
          connexion
        </button>
      </div>
    </form>
  </div>
</div>