<div class="container-fluid mt-5 overflow-hidden" style="width: 80%">
  <app-backbutton />
  <app-securitizationpay class="ms-md-5" />
  <div class="row mt-3">
    <div class="col-12 col-md-5 bg-light ms-md-4">
      <app-detailpayment />
    </div>
    <div class="col-12 col-md-6 ms-md-4 mt-3 mt-md-0">
      <div class="card border-0 w-100 pb-5">
        <div class="card-body mb-5">
          <span class="card-title fw-bold">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20.311"
              height="20.818"
              viewBox="0 0 35.311 39.818"
            >
              <path
                id="lock-2"
                d="M55.665,5.886c-.46,7.239-.722,14.509,1.409,20.551C59.193,32.446,63.745,37.308,73,39.818c9.257-2.51,13.809-7.372,15.929-13.381C91.062,20.4,90.8,13.125,90.339,5.886L73,0Zm9.36,18.472V16.566a2.342,2.342,0,0,1,2.468-2.181h.273V12.321c0-2.556,2.345-4.629,5.237-4.629s5.237,2.072,5.237,4.629v2.064h.273a2.342,2.342,0,0,1,2.468,2.181v7.791a2.342,2.342,0,0,1-2.468,2.181H67.493A2.342,2.342,0,0,1,65.025,24.357Zm2.337-7.791a.128.128,0,0,1,.131-.116H78.512a.128.128,0,0,1,.131.116v7.791a.128.128,0,0,1-.131.116H67.493a.128.128,0,0,1-.131-.116V16.566ZM70.1,14.385V12.321a2.922,2.922,0,0,1,5.8,0v2.064Z"
                transform="translate(-55.346 0)"
                fill-rule="evenodd"
              />
            </svg>
            SELECTIONNEZ VOTRE MOYEN DE PAIEMENT
          </span>
          <div class="row pt-2">
            <span style="font-size: small">
              Pour effectuer votre paiement en toute sécurité de manière simple
              et rapide sélectionnez votre moyen de paiement.
            </span>
          </div>
          <div class="pt-2">
            <div
              *ngFor="let grid of grids; let i = index"
              class="grid-item"
              (click)="toggleGrid(i)"
            >
              <div class="content-header">
                <div
                  class="checkbox"
                  [ngClass]="{ active: selectedGrid === i }"
                  (click)="toggleCheckbox(i, $event)"
                ></div>
                <img
                  class="img-fluid"
                  [src]="grid.imageUrl"
                  alt=""
                  [ngClass]="{
                    'moov-money-image': grid.title.trim() === 'Moov money',
                  }"
                />
                <span class="px-2">{{ grid.title }}</span>
                <i
                  class=""
                  [ngClass]="{
                    'bi-chevron-right': selectedGrid !== i,
                    'bi-chevron-down': selectedGrid === i,
                  }"
                ></i>
              </div>
              <div
                class="grid-content"
                [ngClass]="{
                  open: selectedGrid === i,
                  closed: selectedGrid !== i,
                }"
              >
                <div class="input-container">
                  <label for="phone-{{ i }}">
                    Numéro de téléphone
                    <span class="text-danger">*</span>
                  </label>
                  <input
                    id="phone-{{ i }}"
                    type="tel"
                    [(ngModel)]="grid.number"
                    placeholder="Entrez le numéro"
                    (click)="$event.stopPropagation()"
                  />
                </div>
              </div>
            </div>
            <div class="div">
              <app-card-visa-mastercard-payment></app-card-visa-mastercard-payment>
            </div>
          </div>
          <form class="pt-3">
            <button
              type="button"
              class="btn btn-outline-danger btn-square"
              style="border-radius: 0%"
            >
              RETOUR
            </button>
            <button
              type="submit"
              class="btn btn-outline-success ms-4 btn-square"
              style="border-radius: 0%"
            >
              CONFIRMER
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
 <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content-wrapper">
    <img class="img-fluid" [src]="grid.imageUrl" alt="">
    <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
      <span>{{ grid.title }}</span>
      <div class="input-container">
        <label for="phone-{{i}}"> Numéro de téléphone  <span class="text-danger"> * </span></label>
        <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">

        <ng-container *ngIf="grid.title === 'visa'">
          <input id="input2-{{i}}" type="text" [(ngModel)]="grid.secondField" placeholder="Champ 2" (click)="$event.stopPropagation()">
          <input id="input3-{{i}}" type="text" [(ngModel)]="grid.thirdField" placeholder="Champ 3" (click)="$event.stopPropagation()">
        </ng-container>
      </div>
    </div>
  </div>
</div>
-->

<!-- <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
    <span class="content-header">
      <img class="img-fluid" [src]="grid.imageUrl" alt=""
       [ngClass]="{'moov-money-image': grid.title.trim() === 'Moov money'}">
        <img class="img-fluid">
      {{ grid.title }}
    </span>
    <div class="input-container">
      <label for="phone-{{i}}">Numéro de téléphone</label>
      <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">
    </div>
  </div>
</div> -->

<!-- <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
    <span class="content-header">
      <img class="img-fluid" [src]="grid.imageUrl" alt=""
       [ngClass]="{'moov-money-image': grid.title.trim() === 'Moov money'}">
      {{ grid.title }}
    </span>
    <div class="input-container">
      <label for="phone-{{i}}">Numéro de téléphone</label>
      <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">
    </div>
  </div>
</div> -->

<!--grid of orange/mtn/wave/moov-->
<!--
     <div class="grid-item" (click)="toggleDetails($event)">

            <button class="round-button" [class.checked]="detailsOpened" (click)="toggleDetails($event)"></button>
            <img src="/assets/images/orange_money.png" alt="Image de moyen de paiement">
            <span>Moyen de paiement</span>
            <i class="bi" [ngClass]="{'bi-chevron-right': !detailsOpened, 'bi-chevron-down': detailsOpened}"></i>
          </div>

          <div *ngIf="detailsOpened || isAnimating" class="details grid-item" [ngClass]="{'animate-slide-in': detailsOpened, 'animate-slide-out': !detailsOpened}">
            <span>Numéro de téléphone <span class="text-danger"> *</span></span>
            <input type="text" class="phone-input" placeholder="Entrez votre numéro de téléphone" [(ngModel)]="phoneNumber">
          </div> -->
