<div class="container-fluid overflow-hidden">
  <ng-content select="[back]"></ng-content>
  <ng-content select="[security]"></ng-content>
  <div class="row gx-5 mt-3">

    <div class="col-md-6 ">
      <ng-content select="[payment]"></ng-content>
    </div>

    <div class="col-md-6">
      <ng-content select="[allpayment]"></ng-content>
      <ng-content select="[code]"></ng-content>
    </div>
  </div>
</div>


























<!--
 <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content-wrapper">
    <img class="img-fluid" [src]="grid.imageUrl" alt="">
    <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
      <span>{{ grid.title }}</span>
      <div class="input-container">
        <label for="phone-{{i}}"> Numéro de téléphone  <span class="text-danger"> * </span></label>
        <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">
     
        <ng-container *ngIf="grid.title === 'visa'">
          <input id="input2-{{i}}" type="text" [(ngModel)]="grid.secondField" placeholder="Champ 2" (click)="$event.stopPropagation()">
          <input id="input3-{{i}}" type="text" [(ngModel)]="grid.thirdField" placeholder="Champ 3" (click)="$event.stopPropagation()">
        </ng-container>
      </div>
    </div>
  </div>
</div>
-->






<!-- <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
    <span class="content-header">
      <img class="img-fluid" [src]="grid.imageUrl" alt=""
       [ngClass]="{'moov-money-image': grid.title.trim() === 'Moov money'}"> 
        <img class="img-fluid">
      {{ grid.title }}
    </span>
    <div class="input-container">
      <label for="phone-{{i}}">Numéro de téléphone</label>
      <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">
    </div>
  </div>
</div> -->


<!-- <div *ngFor="let grid of grids; let i = index" class="grid-item" (click)="toggleGrid(i)">
  <div class="checkbox" [ngClass]="{'active': selectedGrid === i}"></div>
  <div class="grid-content" [ngClass]="{'open': selectedGrid === i, 'closed': selectedGrid !== i}">
    <span class="content-header">
      <img class="img-fluid" [src]="grid.imageUrl" alt=""
       [ngClass]="{'moov-money-image': grid.title.trim() === 'Moov money'}">
      {{ grid.title }}
    </span>
    <div class="input-container">
      <label for="phone-{{i}}">Numéro de téléphone</label>
      <input id="phone-{{i}}" type="tel" [(ngModel)]="grid.number" placeholder="Entrez le numéro" (click)="$event.stopPropagation()">
    </div>
  </div>
</div> -->







<!--grid of orange/mtn/wave/moov-->
<!-- 
     <div class="grid-item" (click)="toggleDetails($event)">
            
            <button class="round-button" [class.checked]="detailsOpened" (click)="toggleDetails($event)"></button>
            <img src="./assets/images/orange_money.png" alt="Image de moyen de paiement">
            <span>Moyen de paiement</span>
            <i class="bi" [ngClass]="{'bi-chevron-right': !detailsOpened, 'bi-chevron-down': detailsOpened}"></i>
          </div>
          
          <div *ngIf="detailsOpened || isAnimating" class="details grid-item" [ngClass]="{'animate-slide-in': detailsOpened, 'animate-slide-out': !detailsOpened}">
            <span>Numéro de téléphone <span class="text-danger"> *</span></span>
            <input type="text" class="phone-input" placeholder="Entrez votre numéro de téléphone" [(ngModel)]="phoneNumber">
          </div> -->