<img class="img-fluid mt-3 style" [ngClass]="isHome ? 'style_home': 'not_style_home'"
    src="./assets/images/moyen_payment.png" alt="" srcset="">

<img class="img-fluid mb-5 mtn_money" [ngClass]="isHome ? 'mtn_home': 'not_mtn_home'"
    src="./assets/images/mtn_money.png" alt="" srcset="">

<img class="img-fluid mb-5 wave_money" [ngClass]="isHome ? 'wm_home': 'not_wm_home'" src="./assets/images/wave.png"
    alt="" srcset="">

<img class="img-fluid mb-5 orange_money" [ngClass]="isHome ? 'om_home': 'not_om_home'"
    src="./assets/images/orange_money.png" alt="" srcset="">

<img class="img-fluid mb-5  visa_money" [ngClass]="isHome ? 'vm_home': 'not_vm_home'"
    src="./assets/images/visa_money.png" alt="" srcset="">