//////////////

.style {
  width: 120px;
  height: 80px;
}

.style_home {
  position: absolute;
  top: 800px;
  right: 300px;
}

.not_style_home {
  position: absolute;
  top: 800px;
  right: 300px;
}

.orange_money {
  width: 120px;
  height: 80px;
}

.om_home {
  position: absolute;
  top: 800px;
  left: 660px;
}

.not_om_home {
  position: absolute;
  top: 800px;
  right: 300px;
}

.mtn_money {
  position: absolute;
  width: 120px;
  height: 80px;
  // top: 150px;
}

.mtn_home {
  position: absolute;
  top: 180px; //modification YARD
  right: 550px;
}

.not_mtn_home {
  position: absolute;
  top: 180px; //modification YARD
  right: 550px;
}

.wave_money {
  position: absolute;
  width: 120px;
  height: 80px;
  // top: 380px;
}

.wm_home {
  position: absolute;
  top: 430px;
  right: 190px;
}

.not_wm_home {
  position: absolute;
  top: 430px;
  right: 190px;
}

.visa_money {
  position: absolute;
  width: 120px;
  height: 80px;
  // top: 250px;
  // left: 850px;
}

.vm_home {
  position: absolute;
  top: 280px;
  left: 660px;
}

.not_vm_home {
  position: absolute;
  top: 280px;
  left: 660px;
}
