<div class="container-fluid mt-5" style="width: 80%">
  <div class="row">
    <app-backbutton />
  </div>
  <div class="mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md">
          <app-horizontal-card></app-horizontal-card>
        </div>
        <div class="col-12 col-md-6 mt-4 mt-md-0 ms-md-4">
          <div class="card-body">
            <div class="col-auto">
              <h5>
                <span
                  class="badge text-bg-success square-badge"
                  style="
                    border-radius: 0%;
                    background: #1f8905 0% 0% no-repeat padding-box;
                    opacity: 1;
                  "
                >
                  Livrée
                </span>
              </h5>
            </div>

            <h3 *ngFor="let detail of details" class="card-title fw-bold">
              {{ detail.commandesa }}
            </h3>
            <p class="card-text mb-2">
              Bienvenue sur la plateforme de paiement banque et mobile. Réalisez
              vos paiement en toute sécurité..
            </p>
            <div class="table-responsive">
              <table border="0" cellspacing="10" cellpadding="10">
                <tbody>
                  <tr *ngFor="let detail of details">
                    <td>
                      200 BON D’ACHAT DE 10 000 FCFA : ………………………………………………………………
                    </td>
                    <td>{{ detail.montantBon }} FCFA</td>
                  </tr>
                  <tr *ngFor="let detail of details">
                    <td>
                      100 BON D’ACHAT DE 30 000 FCFA : …………………………………………………………………
                    </td>
                    <td>{{ detail.montantBon }} FCFA</td>
                  </tr>
                  <tr *ngFor="let detail of details">
                    <td>FRAIS : …………………………………………………………………………………………………….</td>
                    <td>{{ detail.frais }} FCFA</td>
                  </tr>
                  <tr>
                    <td>MOYEN DE PAIEMENT : …………………………………………………………………………………</td>
                    <td>
                      <img
                        src="/assets/images/RtLX1cYg_400x400.png"
                        style="width: 23px"
                      />
                      ORANGE MONEY
                    </td>
                  </tr>
                  <tr *ngFor="let detail of details">
                    <td>DATE : …………………………………………………………………………………………</td>
                    <td>
                      {{ detail.date }}
                    </td>
                  </tr>
                  <tr *ngFor="let detail of details">
                    <td>HEURE : …………………………………………………………………………………………………….</td>
                    <td>
                      {{ detail.heure }}
                    </td>
                  </tr>
                  <tr *ngFor="let detail of details">
                    <td>
                      <h3 class="" style="color: #ffc436">
                        <svg
                          id="XMLID_90_"
                          xmlns="http://www.w3.org/2000/svg"
                          width="18.809"
                          height="17.017"
                          viewBox="0 0 18.809 17.017"
                        >
                          <path
                            id="XMLID_91_"
                            d="M6.269,20.377c3.588,0,6.269-1.418,6.269-2.687S9.857,15,6.269,15,0,16.423,0,17.691,2.681,20.377,6.269,20.377Z"
                            transform="translate(0 -15.004)"
                            fill="#ffc436"
                          />
                          <path
                            id="XMLID_92_"
                            d="M6.269,231.405a13.128,13.128,0,0,0,1.507-.086,7.173,7.173,0,0,1-.989-1.715c-.172.006-.345.01-.519.01A12.5,12.5,0,0,1,.8,228.47,7.1,7.1,0,0,1,0,228v.715C0,229.987,2.681,231.405,6.269,231.405Z"
                            transform="translate(0 -215.284)"
                            fill="#ffc436"
                          />
                          <path
                            id="XMLID_93_"
                            d="M6.268,171.414h.055a7.2,7.2,0,0,1,0-1.791H6.268A12.5,12.5,0,0,1,.8,168.479a7.1,7.1,0,0,1-.8-.466v.714C0,170,2.68,171.414,6.268,171.414Z"
                            transform="translate(0.001 -158.876)"
                            fill="#ffc436"
                          />
                          <path
                            id="XMLID_102_"
                            d="M6.268,111.422q.267,0,.526-.01a7.175,7.175,0,0,1,1.121-1.871,15.056,15.056,0,0,1-1.647.09A12.5,12.5,0,0,1,.8,108.487a7.106,7.106,0,0,1-.8-.466v.715C0,110,2.68,111.422,6.268,111.422Z"
                            transform="translate(0.001 -102.466)"
                            fill="#ffc436"
                          />
                          <path
                            id="XMLID_103_"
                            d="M135.862,122.367a5.354,5.354,0,0,0-.9,2.969,5.4,5.4,0,0,0,.055.766,5.333,5.333,0,0,0,.56,1.727,5.407,5.407,0,0,0,1.139,1.475,5.374,5.374,0,1,0-.857-6.937Z"
                            transform="translate(-126.905 -113.693)"
                            fill="#ffc436"
                          />
                        </svg>
                        {{ detail.total }} FCFA
                      </h3>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <app-storeconcerns />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-bannier-4></app-bannier-4>
<app-purchase-recent-view />
<app-card />
<app-footer />
