.dashed-line {
  height: 5px;
  border-top: 1px dashed lightgray;
  margin: 0 -8px; /* Pour toucher les cercles */
  z-index: 0; /* Pour s'assurer que les lignes sont en dessous des cercles */
  color: antiquewhite;
}

.eco {
  height: 10px;
}
.form-check-input {
  top: 883px;
  left: 218px;
  width: 20px;
  height: 20px;
  border: 1px solid #0bc112;
  opacity: 1;
}

.card-body {
  padding: 15px;
  position: relative;
  left: 155 px;
}
.custom-card {
  width: 300px; /* Réduit la largeur à 50px */
  height: 90px; /* Réduit la hauteur à 50px */
}
.card-body-0 {
  position: relative;
  max-height: min-content;
}
.border {
  border-color: #00b3d7;
}
