<div class="main p-md-5">
  <div class="container-fluid py-3">
    <div class="d-grid col-8 mx-auto justify-content-center align-items-center">
      <div class="row mx-auto p-5 mb-3 w-50 success">
        <div class="d-flex justify-content-center">
          <app-lotties
            [imagePath]="imagePath"
            [width]="width"
            [height]="height"
          />
        </div>
      </div>
      <div class="flex-wrap bg-white text-center">
        <p>
          Votre compte Boncoin
          <strong>{{ dataToRetrieve }}</strong>
          a été créé avec succès.
        </p>
        <span class="text-wrap">
          Veuillez activer votre compte en cliquant sur le lien d’activation qui
          a été envoyé à l’adresse djonkouassi[.]gmail.com
        </span>
      </div>
      <div class="mx-auto mt-4">
        <button type="button" class="btn-custom next" routerLink="/login">
          connexion
        </button>
      </div>
    </div>
  </div>
</div>
