<div class="d-flex justify-content-center align-items-center">
  <div
    class="d-flex card text-center mb-3 border-0"
    style="width: 50rem; margin-top: 125px"
  >
    <div class="card-body">
      <div class="col-12 col-md-6 d-none d-md-block">
        <div
          class="card bg-light border-0 justify-content-center align-items-center mb-5"
          style="width: 100%; left: 190px"
        >
          <div class="card-body">
            <div class="card-text">
              <ng-lottie
                [options]="options"
                width="500px"
                height="250px"
                (animationCreated)="animationCreated($event)"
              />
            </div>
          </div>
        </div>
      </div>

      <h5 class="card-title text-success fw-bold mb-3">SUCCÈS</h5>
      <p class="card-text mb-4">
        Bons d’achat ajouter à votre panier ! 200 bons d’achat de 10 000 FCFA
        ont été ajouté à votre panier pour un montant de 2 000 000 FCFA Cliquez
        sur « Continuer mes purchases » pour ajouter d’autres bons d’achat ou sur «
        Voir mon panier » pour accéder à votre panier.
      </p>
      <div class="m-3">
        <a href="#" class="btn btn-outline-primary custom-btn">Go somewhere</a>
        <a href="#" class="btn btn-outline-primary custom-btn ms-3">
          Go somewhere
        </a>
      </div>
    </div>
  </div>
</div>
