<nav id="first-navbar" class="main">
    <div class="promo p-2 d-flex justify-content-center align-items-center">
        NOUS SOMMES RAVIS DE VOUS ANNONCER UNE OFFRE EXCEPTIONNELLE : BÉNÉFICIEZ DE 50 % DE RÉDUCTION SUR UNE SÉLECTION
        DE
        PRODUITS ! C’EST LE MOMENT IDÉAL POUR VOUS FAIRE PLAISIR OU PRÉPARER VOS CADEAUX.
    </div>
</nav>


<nav id="second-navbar" class="navbar p-md-2 navbar-expand-lg navbar-light" aria-label="navbar">
    <div class="ms-lg-5">
        <img src="/assets/images/boncoin_logo.png" alt="logo" routerLink="/dashboard" />
    </div>
</nav>
<app-background>
    <div class="flex-fill" left>
        <app-forms />
    </div>
    <div class="flex-fill" right>
        <app-img-block />
    </div>
</app-background>