// .input-form {
//     width: 397px;
//     height: 66px;
//     opacity: 1;
//     font-family: Proxima Nova;
//   }

.forgot-link:hover {
  text-align: left;
  text-decoration: underline;
  font: normal normal normal 16px/26px Proxima Nova;
  letter-spacing: 0px;
  color: #009dc1;
  opacity: 1;
}

.inscription {
  border: 1px solid #ffc436;
  background: #ffffff 0% 0% no-repeat padding-box;
  color: #ffc436;
}

.inscription:hover {
  color: #ffc436;
  background: #fff8e6 0% 0% no-repeat padding-box;
  border: 1px solid #ffc436;
}

.connexion {
  border: 1px solid #00b3d7;
  background: #00b3d7 0% 0% no-repeat padding-box;
  color: #ffffff;
}

.connexion:hover {
  background: #009dc1 0% 0% no-repeat padding-box;
}

/* CSS pour <app-background> */
.main.body {
  padding: 1rem;
}

.container-fluid {
  padding: 1rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.col-lg-4,
.col-md-12,
.col-12 {
  flex: 1 1 100%;
}

/* Pour les écrans plus larges */
@media (min-width: 992px) {
  .col-lg-4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }
  .col-lg-8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }
}

/* CSS pour le formulaire de connexion */
form {
  max-width: 600px;
  margin: auto;
}

.form-input {
  width: 100%;
}

/* CSS pour l'image */
img {
  max-width: 100%;
  height: auto;
}

.promo {
  border-bottom: 1px solid #ededed;
  font-size: 10px;
  background: #ffc436 0% 0% no-repeat padding-box;
  opacity: 1;
  height: 60px;
  font-family: normal normal normal 14px/25px Proxima Nova;
  color: #1f1f1f;
  text-transform: uppercase;

  span {
    color: #333;
    font-size: 16px;
  }
}
