<section>
<div class="row acrd-recent-promotion">
    <div class="container-fluid col-3">
        <img src="./assets/images/Groupe 141109@2x.png" alt="jus de fruits" class="img-fluid img-pub-first h-75 w-100">
    </div>
    <div class="container-fluid col-3">
        <img src="./assets/images/Groupe 141327@2x.png" alt="jus de fruits" class="img-fluid img-pub-second h-75 w-100">
    </div>
    <div class="container-fluid col-3">
        <img src="./assets/images/Groupe 141328@2x.png" alt="jus de fruits" class="img-fluid img-pub-third h-75 w-100">
    </div>
    <div class="container-fluid col-3">
        <img src="./assets/images/AFF-100@2x.png" alt="jus de fruits" class="img-fluid img-pub-fourth h-75 w-100">
    </div>

</div>
</section>
