<app-navbar />
<app-beneficiary-list/>

<!-- <app-frame [frameClass]="'mt-3 col-12 d-md-grid d-lg-flex d-grid justify-content-evenly'">
    @for(items of summaryList; track items){
    <div class="row col-md-12 col-lg mb-1" style="border: 1px solid #00B3D7" line-1>
        <div class="mb-1" >
            <div class="flex-row d-flex my-2 justify-content-between">
                <div class="col-2">
                    <img [src]="items.icon" class="object-fit-contain border rounded" alt="...">
                </div>
                <div class="col-8">
                    <p class="mb-0">{{items.title}}</p>
                </div>
            </div>
        </div>
    </div>
    } -->

<!-- <span class="a" *ngIf="items.people_number">{{items.people_number}} prs</span>
                        <span class="a" *ngIf="items.number">{{items.number}} bons</span>
                        <span class="a" *ngIf="items.amount">{{items.amount | formatNumber}}
                            fcfa</span>
                        <span class="a" *ngIf="items.category">{{items.category}} catégories</span>
                        <span class="a" *ngIf="items.canal">{{items.canal}} canaux</span> -->

<!-- @for(items of summaryList; track items){
    <div class="row justify-content-between" line-2>
        <div class="card" style="max-width: 450px; border: 1px solid #00B3D7">
            <div class="d-flex">
                <div class="col-md-2 align-content-center">
                    <img [src]="items.icon" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-10 align-content-center ms-2">
                    <div class="card-body p-0 d-grid">
                        <p class="card-title mb-0 fs-16 mb-0 mt-2">{{items.title}}</p>
                        <p class="fs-20 upper mb-0" *ngIf="items.people_number">{{items.people_number}}
                            prs</p>
                        <p class="fs-20 upper mb-0" *ngIf="items.number">{{items.number}} bons</p>
                        <p class="fs-20 upper mb-0" *ngIf="items.amount">{{items.amount | formatNumber}}
                            fcfa</p>
                        <p class="fs-20 upper mb-0" *ngIf="items.category">{{items.category}} catégories</p>
                        <p class="fs-20 upper mb-0" *ngIf="items.canal">{{items.canal}} canaux</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    } -->

<!-- </app-frame> -->

<!-- <app-frame [frameClass]="'mt-3 col-12 d-lg-flex d-grid justify-content-between'">
    <ng-container *ngFor="let item of summaryList; track: item" line-1>
        <div class="col-12 col-md-12 col-lg-2 mb-1" style="border: 1px solid #00B3D7">
            <div class="d-flex my-2 justify-content-between align-items-center">
                <div class="col-3 col-md-2 px-2 text-center">
                    <img [src]="item.icon" class="img-fluid border rounded" alt="...">
                </div>
                <div class="col-9 col-md-8 px-2">
                    <p class="mb-0">{{item.title}}</p>
                    <p class="fs-20 upper mb-0" *ngIf="item.people_number">{{item.people_number}} prs</p>
                    <p class="fs-20 upper mb-0" *ngIf="item.number">{{item.number}} bons</p>
                    <p class="fs-20 upper mb-0" *ngIf="item.amount">{{item.amount | formatNumber}} fcfa</p>
                    <p class="fs-20 upper mb-0" *ngIf="item.category">{{item.category}} catégories</p>
                    <p class="fs-20 upper mb-0" *ngIf="item.canal">{{item.canal}} canaux</p>
                </div>
            </div>
        </div>
    </ng-container>
</app-frame> -->
