<back-button />
<div class="card border-0">
  <div class="card-body">
    <div class="col-12 d-none d-md-block">
      <div class="card-text">
        <ng-lottie
          [options]="options"
          width="50px"
          height="50px"
          (animationCreated)="animationCreated($event)"
        />
      </div>
    </div>

    <div class="container-fluid bg-light p-2">
      <div class="row justify-content-center">
        <div class="col-lg-2 col-md-5 mb-3">
          <div class="card custom-card border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="/assets/images/groupe.png"
                    alt="groupe"
                    class="custom-img"
                  />
                </div>
                <div class="col-md-10">
                  <p class="card-title">Nombre de bénéficiaires</p>
                  <p class="card-text fw-bold">135 PRS</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-2 col-md-5 mb-3">
          <div class="card custom-card border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="/assets/images/Groupe16133.png"
                    alt="groupe"
                    class="custom-img"
                  />
                </div>
                <div class="col-md-10">
                  <p class="card-title">Nombre de bon à distribuer</p>
                  <p class="card-text fw-bold">153 BONS</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-2 col-md-5 mb-3">
          <div class="card custom-card border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="/assets/images/Groupe17133.png"
                    alt="groupe"
                    class="custom-img"
                  />
                </div>
                <div class="col-md-10">
                  <p class="card-title">Montant total des bons</p>
                  <p class="card-text fw-bold">1 120 000 FCFA</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 mb-3">
          <div class="card custom-card border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="/assets/images/Groupe33.png"
                    alt="groupe"
                    class="custom-img"
                  />
                </div>
                <div class="col-md-10 deco">
                  <p class="card-title">Montant de la totalité des bons</p>
                  <p class="card-text fw-bold">04 CATÉGORIES</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-5 mb-3">
          <div class="card custom-card border-info">
            <div class="card-body">
              <div class="row">
                <div class="col-md-2">
                  <img
                    src="/assets/images/Groupe62.png"
                    alt="groupe"
                    class="custom-img"
                  />
                </div>
                <div class="col-md-10">
                  <p class="card-title">Nombre de canal de distribution</p>
                  <p class="card-text fw-bold">02 CANAUX</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light p-2">
    <div class="row">
      <div class="col-4 px-5">
        <div class="d-flex mb-2">
          <img src="/assets/images/XMLID_246_.png" alt="image" />
          <span class="mx-2">Bons d’achat disponibles</span>
        </div>

        <div class="d-flex-2">
          <img src="/assets/images/Ellipse.png" alt="image" />
          <span class="mx-2">
            100 Bon d’achat de 10 000 FCFA pour : ………90 Bons
          </span>
        </div>
        <img src="/assets/images/Ellipse.png" alt="image" />
        <span class="mx-2">10 Bon d’achat de 25 000 FCFA pour : …………0 Bon</span>
      </div>

      <!---->

      <div class="col-4 mx-2">
        <img src="/assets/images/Ellipse.png" alt="image" class="" />
        <span>100 Bon d’achat de 10 000 FCFA pour : ………90 Bons</span>
      </div>
      <div class="col-4">
        <div class="d-flex">
          <img src="/assets/images/XMLID_246_.png" alt="image" />
          <span class="mx-2">Bons d’achat disponibles</span>
        </div>
        <img src="/assets/images/Ellipse.png" alt="image" />
        <span>100 Bon d’achat de 10 000 FCFA pour : ………90 Bons</span>
      </div>
    </div>
  </div>
</div>
